{% extends "base.html" %}
{% block content %}
<div class="search">
  <div class="title">
    <h3>Search results for "{{name}}"</h3>
  </div>
  {% for i in search %}
  <div class="songlist">
    <iframe src="https://embed.spotify.com/?uri={{i['uri']}}" width="300px" height="100px"></iframe>
    <div class="but">
      <a href="/recs/{{i['id']}}"><button type="button" name="button" class="btn btn-outline-dark btn-block">Get Recs</button>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
